/* ==========================================
   BEAR FIT
   ESTILOS GENERALES
========================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

:root{

    --rosa:#FF6B9D;
    --rosa-hover:#ff4b87;

    --negro:#0D0D0D;
    --gris:#171717;

    --blanco:#FFFFFF;

    --texto:#D8D8D8;

}

body{

    font-family:'Montserrat',sans-serif;

    background:var(--negro);

    color:var(--blanco);

}

/*================ HEADER ================*/

header{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:22px 8%;

    background:rgba(13,13,13,.95);

    backdrop-filter:blur(10px);

    z-index:999;

    border-bottom:1px solid rgba(255,255,255,.06);

}

.logo img{

    height:42px;

}

nav ul{

    display:flex;

    list-style:none;

    gap:35px;

}

nav a{

    color:white;

    text-decoration:none;

    font-weight:500;

    transition:.30s;

}

nav a:hover{

    color:var(--rosa);

}
